#app, #app > div, body, html {
	height: 100%;
	width: 100%;
}
html {
	--slot-size: 25px;
}

*::-moz-focus-inner { border: 0; }

* {
	padding: 0;
	margin: 0;
}


#app > div {
  display: flex;
  justify-content: center;
}

.gameboard {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 1fr;
	grid-auto-flow: row;
}

.slots {
	display: flex;
}

.guess-slot-0 {
	grid-column: 1/1;
}

.guess-slot-1 {
	grid-column: 2/2;
}

.guess-slot-2 {
	grid-column: 3/3;
}

.guess-slot-3 {
	grid-column: 4/4;
}

.guess-slots > * {
	grid-row: 1;
}

.guess-slots {
	display: inline-grid;
	width: 66.6666666666666%;
	height: 100%;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
}

.result-slots {
	width: 33.33333333%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
	position: relative;
}

.result-slots > * {
  border: 1px solid black;
}

.result-slots > .focus-result-button {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.control-row {
	display: grid;
	grid-template-columns: 4fr 1fr;
	grid-template-rows: 1fr;
	grid-auto-flow: column;
	border-radius: 5px;
	background-color: #151515;
	padding: 7px;
}

.row-control-buttons {
	display: flex;
	flex-direction: column;
}
.row-control-buttons > * {
	flex-grow: 1;
}

.colour-selection, .result-change-control {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50px 50px;
	grid-auto-columns: 1fr;
	grid-auto-flow: column;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.result-change-control {
  grid-auto-flow: row;
}

.slot-button {
	opacity: 0;
	width: 100%;
	height: calc(100% + calc(2 * var(--extra-size)));
	padding: 0;
	margin: calc( -1 * var(--extra-size));
	--extra-size: 9px;
}

.solutions {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  max-height: 300px;
}

.solution {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /*min-height: var(--slot-size);*/
	align-items: center;
  justify-items: center;
  border: 2px solid #333;
	border-radius: 7px;
	padding: 1px 0;
  background-color: #222;
}



/*Colors and Stuff*/
body {
	background-color: #0A0A0A;
}

.main-menu {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.mode-selection {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.mode-selection > button {
	min-width: 200px;
	min-height: 30px;
	margin: 10px;
}

.switch-colour-amount > button, .mode-selection > button {
	color: #fff;
	background-color: #222;
	border-radius: 10px;
	border: 0px;
	box-shadow: 0px 0px var(--box-shadow-radius, 8px) #aaa;
}

.switch-colour-amount {
	display: flex;
	color: #fff;
}

.switch-colour-amount > button {
	margin-left: 10px;
	min-width: 70px;
}

.gameboard {
	border: 2px solid #333;
	margin: 5px 10px;
	border-radius: 20px;
	width: auto;
	background-color: #222;
	padding: 5px 0;
	flex-grow: 1;
}

.slots {
	border: 2px solid #333;
	margin: 1px 10px;
	border-radius: 7px;
	height: calc(2 * var(--slot-size) + 3px);
}

.result-slots {
	justify-items: center;
	align-items: center;
	border-radius: 5px;
	transition: box-shadow 0.2s;
}

.guess-slots {
	border-right: 2px solid #444;
	justify-items: center;
	align-items: center;
}

.empty-slot {
	border: solid 2px #393939;
	box-sizing: border-box;
}

.guess-slots > div, .result-slots > *, .solution > * {
	width: var(--slot-size);
	height: var(--slot-size);
	border-radius: var(--slot-size);
	transition: box-shadow 0.2s;
}


*[has-focus="true"] {
	box-shadow: 0px 0px 5px 2px rgba(204,204,204,1);
}

button {
	transition: box-shadow 0.1s;
}

button:active {
	--box-shadow-radius: 0;
}

.in-game {
	max-width: 350px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.colour-choose-button {
	--size: calc(2 * var(--slot-size));
	width: var(--size);
	height: var(--size);
	border-radius: var(--size);
	border: none;
	box-shadow: 0px 0px var(--box-shadow-radius, 10px) #595858;
}

.row-control-buttons > button, .result-change-control > button{	
	border: none;
	transition: background-color 0.4s, border 0.4s, box-shadow: 0.4s;
	color: white;
	border-radius: 5px;
	padding: 3px;
}

.row-control-buttons > button[disabled="true"], .result-change-control >  button[disabled="true"] {
	background-color: #222;
	box-shadow: none;
}
.colour-selection {
	justify-items: center;
}
.commit-row {
	background-color: #008008;
	margin-bottom: 5px;
	box-shadow: 0px 0px 10px #aaa;
}
.undo-row {
  background-color: #800808;
}

.solution-header {
	color: white;
	font-size: 18px;
}
.result-change-control {
	margin-right: 15px;
}
.result-change-control > button {
	background-color: #333;
	box-shadow: 0px 0px var(--box-shadow-radius, 10px) #aaa;
}
